body{
    width: 100%;
    font-family: 'arial';
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
/*.main-div{
    display: grid;
    width: 500px;
    height: 100px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 200px;
    grid-gap: 5px;
}
.form-div{

}*/

.main-div{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1)

}
.title{
    text-align: center;
    margin: 10px;
}
.field-div{
    text-align: center;
}
.field-div input{
    width: 200px;
    border-radius: 5px;
    margin: 7px;
    padding: 5px;
    border-style: solid;
}
.login{
    color: white;
    background-color: rgb(17, 81, 17);
    padding: 7px;
    margin: 5px;
    width: 70px;
    border-radius: 3px;
    border: none;
    transition: all 0.15s;
    cursor: pointer;
}

.login:hover{
    opacity: 0.6;
    width: 100px;
}