<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile-search.css'%}">
    <title>Search</title>
</head>
<body>
    <div class="main-div">
        <div class="search-div">
            <input placeholder="Search" class="search">
            <div class="chat-list">
                No results yet
            </div>
        </div>
    </div>
    <script src="{% static 'profile-search.js' %}"></script>
</body>
</html>